{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block content %}
    <h1>Forum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdFrm</th>
                <td>{{ forum.idFrm }}</td>
            </tr>
            <tr>
                <th>IdUtl</th>
                <td>{{ forum.idUtl }}</td>
            </tr>
            <tr>
                <th>ContenuFrm</th>
                <td>{{ forum.contenuFrm }}</td>
            </tr>
            <tr>
                <th>Report</th>
                <td>{{ forum.report }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ forum.likes }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_forum_index') }}">back to list</a>

    <a class="btn btn-danger" href="{{ path('app_forum_edit', {'idFrm': forum.idFrm}) }}">edit</a>

    {{ include('front/forum/_delete_form.html.twig') }}
{% endblock %}
