<!DOCTYPE html>
<html>
    <head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KdayyesWebsite</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{asset("img/favicon.png")}}" rel="icon">
  <link href="{{asset("img/apple-touch-icon.png")}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{asset("vendor/aos/aos.css")}}" rel="stylesheet">
  <link href="{{asset("vendor/bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
  <link href="{{asset("vendor/bootstrap-icons/bootstrap-icons.css")}}" rel="stylesheet">
  <link href="{{asset("vendor/glightbox/css/glightbox.min.css")}}" rel="stylesheet">
  <link href="{{asset("vendor/remixicon/remixicon.css")}}" rel="stylesheet">
  <link href="{{asset("vendor/swiper/swiper-bundle.min.css")}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset("css/style.css")}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  

    </head>
    <body>
      {% block header %}
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

          <a href="index.html" class="logo d-flex align-items-center">
            <img src="{{asset("img/log.png")}}" alt="">
            <span>Kdayes</span>
          </a>

        <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{{path('app_forum_index')}}">Forum</a></li>
          <li><a class="nav-link scrollto" href="{{path('app_reclamation_index')}}">Reclamation</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        </div>
        </header><!-- End Header -->
      {% endblock %}
      
      
      {% block footer %}    
      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">

        <div class="footer-newsletter">
          <br><br><br>
          {% block content %}{% endblock %}
        </div>
        <div class="footer-top">
          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                  <img src="{{asset("img/log.png")}}" alt="">
                  <span>Kdayes</span>
                </a>
                <p> <strong>Kdayes </strong> est l’acteur de référence du crowdfunding en Tunisie. Spécialiste de l’investissement digital, la plateforme propose aux investisseurs d’optimiser leur épargne dans des actifs tangibles à impact sous formes d’obligations, d’actions ou titres participatifs et offre aux entreprises non côtées des solutions de financement rapides, flexibles et innovantes.</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>

              <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Accueil</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="{{path('app_forum_index')}}">About us</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Evènements</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Blog</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div>

              <div class="col-lg-2 col-6 footer-links">
                <h4>Nos Projets</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Numérique</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">But lucratif</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Immobilier</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">petites entreprises</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact </h4>
                <p>                                                     
                  Pôle Technologique El Ghazela, <br>
                  Ariana,Tunisie.<br>
                  <br>
                  <strong>Téléphone:</strong> +216 71 256 216<br>
                  <strong>Email:</strong> Kdayes2022@gmail.com<br>
                </p>

              </div>

            </div>
          </div>
        </div>

        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>Kdayes</span></strong>. All Rights Reserved
          </div>
        </div>
     </footer><!-- End Footer -->
      {% endblock %}
      <!-- Vendor JS Files -->
      <script src="{{asset("vendor/purecounter/purecounter.js")}}"></script>
      <script src="{{asset("vendor/aos/aos.js")}}"></script>
      <script src="{{asset("vendor/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
      <script src="{{asset("vendor/glightbox/js/glightbox.min.js")}}"></script>
      <script src="{{asset("vendor/isotope-layout/isotope.pkgd.min.js")}}"></script>
      <script src="{{asset("vendor/swiper/swiper-bundle.min.js")}}"></script>
      <script src="{{asset("vendor/php-email-form/validate.js")}}"></script>

      <!-- Template Main JS File -->
      <script src="{{asset("js/main.js")}}"></script>
    </body>
</html>
